html, body {
  background-color: #121;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

#mainCanvas {
  margin: 0 auto;
  overflow: hidden;
  min-height: 600px;
  min-width: 600px;
}

#title {
  height: 70px;
}

#bluePattern, #greenPattern, #redPattern, #yellowPattern {
  visibility: hidden;
}
